# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Ignore all Jupyter notebooks
*.ipynb